
@import 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap';

html{
    font-family: "Open Sans";
}

/*Header*/
#Header ul{
    list-style: none;
    display: flex;

}
/*End Header*/

.span{
    color: #4285f4;
}
.span1 {
    color: #ea4335;
}
.span2 {
    color: #fbbc05
}
.span3 {
    color: #4285f4;
}
.span4 {
    color: #34a853;
}
.span5 {
    color: #ea4335;
}