
@import 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap';

html{
    font-family: "Open Sans";
}

/*Header*/
#Header ul{
    list-style: none;
    display: flex;

}
/*End Header*/


/*Main Contents*/
.span{ color: #4285f4; }
.span1 { color: #ea4335; }
.span2 { color: #fbbc05; }
.span3 { color: #4285f4; }
.span4 { color: #34a853; }
.span5 { color: #ea4335; }

#Main-Contents .title{
    background-color: blueviolet;
}

#Main-Contents .search-bar input {
    position: center;
    padding: 5px 8px 0px 14px;
}

#Main-Contents .buttons{
    position: center;
    margin: 11px 4px;
    padding: 0px 30px;         /*left: top and bottom / right: left and right*/
}
/*End Main Contents*/

/*Blank*/
#Blank .blank{
    color: white;
}
/*End Blank*/

/*Footer*/
#Footer .left-footer-list ul{
    list-style: none;
    display: flex;
}

#Footer .right-footer-list ul{
    list-style: none;
    display: flex;
}
/*End Footer*/